html {
  background: linear-gradient(135deg, #e3b8fc 0%, #fcec9c 100%);
}

body {
  text-align: center;
  color: #000000b5;
  font-family: system-ui, -apple-system;
}

body,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  flex-direction: column;
  width: 90%;
  height: 10%;
  text-align: center;
}

h1 {
  border-radius: 15px 80px 15px 80px;
  font-size: 58px;
  color: #dc24ec;
  text-shadow: 0px 10px 30px #e79f19;
}

.Title {
  padding: 40px;
  background-color: #ffe398;
  width: 1000px;
}

h2 {
  font-size: 32px;
  background: linear-gradient(130deg, #f877be 20%, #1e8ad2 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

nav {
  width: 30%;
}

ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

li {
  margin: 50px 0px;
}

p {
  margin: 40px 0 30px;
  color: #000000ae;
  font-size: 17px;
  border-bottom: 1px solid;
}

a {
  padding: 12px 25px;
  color: #ffffff;
  background-color: #54cdfde2;
  border: none;
  border-radius: 15px;
  font-family: system-ui, -apple-system;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: #04e447e3;
}